.flex {
  display: flex;
  justify-content: space-between;
}




.title {
  color: navy;
  margin-top: 10px;
  margin-left: 30px;


}


.nav ul li {

  display: inline-block;
  color: navy;
  margin-right: 10px;
  padding-right: 10px;

}

img {
  position: absolute;

  width: 50%;
  height: 50%;

  margin-right: 0;
  margin-left: auto;
  display: block;

  top: 200px;
  right: 50px;

  z-index: 10;
  


}

.box {

  position: relative;

  width: 75%;
  height: 150px;
  background: navy;

  top: 300px;
  left: 10px;

  z-index: 0;

  margin-left: 0;

}




.text {
  position: absolute;

  margin-left: 0;

  
  
  top: 330px;
  left: 10px;



  font-size: 60px;
}