.flex {
  display: flex;
  justify-content: space-between;
}




.title {
  color: blue;
  margin-top: 10px;
  margin-left: 30px;


}


.nav ul li {

  display: inline-block;
  color: blue;
  margin-right: 10px;
  padding-right: 10px;

}

img {
  position: relative;

  width: 50%;
  height: 50%;

  margin-right: 0;
  margin-left: auto;
  display: block;
}

.box {

  position: absolute;

  width: 75%;
  height: 150px;
  background: blue;
}

div.parent {
  position: relative;
  height: 300px;

}

p.text {
  position: absolute;
  bottom: 0;
  margin: 0;

  font-size: 60px;
}